<div class="video-background">
    <video autoplay muted loop playsinline class="custom-video">
      <source src="assets/ff.mp4" type="video/mp4" />
      Tu navegador no soporta videos HTML5.
    </video>
  </div>
 <div class="login-container">
    <div class="flowers-bg"></div>

    <div class="login-box">
      <img src="assets/image1.jpg" alt="Flores" class="flores-top" />
      <h2>El amor Eterno...💕</h2>

      <div>
        <div class="form-group">
          <label>Usuario</label>
          <input (input)="convertirAMayusculas()" [(ngModel)]="usuario"  type="text" placeholder="Usuario" />
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input  [(ngModel)]="password" type="password" placeholder="••••••••" />
        </div>

        <button (click)="login()">Ingresar🌹</button>
      </div>
    </div>


  </div>




  <div class="float-animation">
    <!-- Flores -->
    <div class="float flower f1"></div>
    <div class="float flower f2"></div>
    <div class="float flower f3"></div>
    <div class="float flower f4"></div>

    <!-- Corazones -->
    <div class="float heart h1"></div>
    <div class="float heart h2"></div>
    <div class="float heart h3"></div>
  </div>


<div class="plant-container">
  <div class="video-ff">
    <video autoplay muted loop playsinline class="custom-video">
      <source src="assets/ff.mp4" type="video/mp4" />
      Tu navegador no soporta videos HTML5.
    </video>
  </div>
</div>
